@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('index.css');

button {
    outline: none;
    font-family: 'Ubuntu', Sans-Serif;
    font-weight: bold;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background: #111111;
    color: #ffffff;
}
.head {
    margin: 10px;
}
.btn-back {
    margin-left: auto;
    float: right;
}
.btn-back {
    padding: 8px;
    color: #cc3333;
    font-size: 20px;
    border: 0.4px solid #cc3333;
    background: transparent;
    border-radius: 0.25rem;
}
.btn-share {
    padding: 8px;
    background: #cc3333;
    font-size: 20px;
    border-color: transparent;
    border-radius: 0.25rem;
}

.content {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;right: 0;
    bottom: 0;left: 0;
    text-align: center;
    color: white;
    margin: auto;
}
.cover {
    width: 150px;
    height: 150px;
    border-radius: 1rem;
}
.title {
    font-weight: bold;
    margin-bottom: 0;
}
.artist {
    color: #777;
    font-size: 12px;
    margin-top: 2px;
}
.btn-redirect {
    padding: 8px;
    background: #ff7700;
    border-radius: 0.5rem;
    border-color: transparent;
}

.btn-download {
    position:fixed;
    right:0;
    bottom:0;
    left:0;
    z-index:1030;
    background: #43A047;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-color: transparent;
}