@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

button {
    outline: none;
    font-family: 'Ubuntu', Sans-Serif;
    font-weight: bold;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background: #111111;
    color: #ffffff;
}

/*--- HEADER ---*/
.header {
    text-align: center;
}
.logo {
    width: 200px;
    height: 200px;
    border-radius: 1rem;
}
.field {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    transform: translateY(-50px);
}
#url {
    width: 230px;
    padding: 12px 8px;
    outline: none;
    font-size: 12px;
    border-radius: 50px 0 0 50px;
    border: 0.7px solid #cc3333;
}
#searcher {
    padding: 12px;
    background: #cc3333;
    color: #ffffff;
    border: none;
    border-radius: 0 50px 50px 0;
}
.loader {
    width: 14px;
    height: 14px;
}

/*--- RECENT DOWNLOADS ---*/
.section-header {
    display: flex;
}
.section-title {
    font-weight: bold;
}
.section-all {
    margin: auto 0 auto auto;
    font-weight: 100;
    font-size: 12px;
    color: #777;
}
.recent-dl, .recent-dl-rightside, .recent-dl-leftside {
    display: flex;
}
.recent-dl-leftside {
    margin-left: auto;
}
.recent-dl {
    direction: ltr;
    padding: 8px;
    margin: 4px auto;
    width: 95%;
    background: #212121;
    border-radius: 0.5rem;
}
.recent-dl-rightside-texts {
    margin: auto 8px;
}
.recent-dl-title {
    font-weight: 400;
    font-size: 16px;
    margin: 2px 0;
}
.recent-dl-artist {
    font-weight: 100;
    font-size: 12px;
    color: #777;
    margin: 0;
}
.recent-dl-cover {
    width: 50px;
    height: 50px;
    margin: auto 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 .15rem #e0e0e04d;
}
.btn-share {
    height: 40px;
    width: 40px;
    color: #ffffff;
    margin: auto 2px;
    border-radius: 50px;
    background: #ff7700;
    border-color: transparent;
}
.btn-play {
    height: 40px;
    width: 40px;
    color: #ffffff;
    margin: auto 2px;
    border-radius: 50px;
    background: #00A693;
    border-color: transparent;
}

/*--- FAVORITE ARTISTS ---*/
.fav-artists-container {
    display: flex;
    flex-wrap: nowrap;
}
.fav-artist {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
.fav-artist-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.fav-artist-name {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}
.fav-artist-id {
    font-weight: 100;
    font-size: 12px;
    color: #777;
    margin: 0;
}