<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="static/css/dl.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="head">
            <button class="bi bi-share btn-share" onclick="share('{{result.obj.permalink}}');"></button>
            <button class="bi bi-arrow-right btn-back" onclick="window.history.back();"></button>
        </div>
        
        <div class="content">
            <img src="{{result.obj.artwork_url}}" alt="[COVER]" class="cover">
            <p class="title">{{result.obj.title}}</p>
            <p class="artist bi bi-person-fill"> {{result.obj.artist}}</p>
            
            <button class="bi bi-soundwave btn-redirect" onclick="window.location = '{{result.obj.permalink_url}}';"> Open in SoundCloud</button>
        </div>
        
        <button class="bi bi-download btn-download" onclick="download({{result.links}});"> Download</button>
        
        <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
        <script src="static/js/global.js"></script>
        <script src="static/js/dl.js"></script>
    </body>
</html>