<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header">
            <img src="static/assets/logo.png" alt="[LOGO]" class="logo">
            <div class="field">
                <input type="url" id="url" placeholder="https://soundcloud.com/artist/track">
                <button id="searcher" onclick="dl(this);"><i class="bi bi-search"></i></button>
            </div>
        </div>
        
        <div class="section recent-dls">
            <div class="section-header">
                <p class="section-title">Recent downloads</p>
                <p class="bi bi-eye-fill section-all" onclick="seeAllDownloads();"> see all</p>
            </div>
            
            <div id="dls">
                {% for download in user.downloads[-3:][::-1] %}
                <div class="recent-dl">
                    <div class="recent-dl-rightside" onclick="goto('{{download.link}}');">
                        <img class="recent-dl-cover" src="{{download.cover}}" alt="[TRACK]">
                        <div class="recent-dl-rightside-texts">
                            <p class="recent-dl-title">{{download.name[:14]}}...</p>
                            <p class="bi bi-person-fill recent-dl-artist"> {{download.artist}}</p>
                        </div>
                    </div>
                    <div class="recent-dl-leftside">
                        <button class="bi bi-play-fill btn-play" onclick='play("{{download.artist}} - {{download.name}}.mp3");'></button>
                        <button class="bi bi-share-fill btn-share" onclick='share("{{download.link}}");'></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <br>
        
        <div class="section fav-artists">
            <div class="section-header">
                <p class="section-title">Favorite artists</p>
                <p class="section-all"></p>
            </div>
            
            <div class="fav-artists-container">
                {% for artist in userFavArtists %}
                <div class="fav-artist" onclick="goto('{{artist.link}}');">
                    <img src="{{artist.avatar}}" alt="[ARTIST]" class="fav-artist-avatar">
                    <p class="fav-artist-name">{{artist.name}}</p>
                    <p class="fav-artist-id">@{{artist.link.split("/")[-1]}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
        <script src="static/js/global.js"></script>
        <script src="static/js/index.js"></script>
    </body>
</html>
